
build-Server-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/Server.exe
build-Server-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/mytcpserver.o
build-Server-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/Makefile
build-Server-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/main.o
build-Server-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/.qmake.stash
build-Client-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/qrc_qml.o
build-Client-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/qrc_qml.cpp
build-Client-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/mytcpserver.o
build-Client-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/mytcpclient.o
build-Client-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/moc_predefs.h
build-Client-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/moc_mytcpserver.o
build-Client-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/moc_mytcpserver.cpp
build-Client-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/moc_mytcpclient.o
build-Client-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/moc_mytcpclient.cpp
build-Client-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/Makefile
build-Client-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/main.o
build-Client-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/.qmake.stash
build-Client-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/Client.exe
build-Server-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/moc_mytcpserver.cpp
build-Server-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/moc_mytcpserver.o
build-Server-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/moc_predefs.h
